<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <%= render_meta_data %>
    <!-- Uncomment to make IE8 render like IE7 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'shared/header' %>

    <div class="row">
      <div class="large-9 columns">
        <h3>You must be logged in to see that page!</h3>

        <div class="section-container" data-section>
          <section class="section active" style="padding-top: 52px;">
            <h5 class="title" style="left: 0px;"><a href="#panel1">Login</a></h5>
            <div class="content" data-slug="panel1" style="">
              <%= form_for :user, :url => {:action => :create} do |f| %>
                <div class="row collapse">
                  <div class="large-2 columns">
                    <%= f.label :login, class: 'inline' %>
                  </div>
                  <div class="large-10 columns">
                    <%= f.text_field :login, autofocus: true %>
                  </div>
                </div>
                <div class="row collapse">
                  <div class="large-2 columns">
                    <%= f.label :password, class: 'inline' %>
                  </div>
                  <div class="large-10 columns">
                    <%= f.password_field :password %>
                  </div>
                </div>
                <%= hidden_field_tag 'user_screensize' %>
                <%= f.button _t(:login), class: 'radius button', name: nil %>
              <% end %>
            </div>
          </section>
        </div>
      </div>
    </div>

    <%= render 'shared/footer' %>

    <%- content_for :javascripts do -%>
    <script type="text/javascript" charset="utf-8">
      jQuery(function($) {
        $('#user_login').focus();
        $('#user_screensize').val(function() {
          return screen.width+'x'+screen.height;
        });
      });
    </script>
    <%- end -%>
  </body>
</html>
